<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" itemprop="description" content="">
    <meta itemprop="name" content="">
    <meta itemprop="image" content="">

    <title>集结号</title>
    <script src="https://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js"></script>
</head>

<body>
    <div id="app"></div>
</body>

</html>