body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

html, body {
    height: 100%;
    min-height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*容器*/

.flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}


/*从上到下显示*/

.flex-v {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}


/* 从右到左 */

.flex-end {
    -webkit-box-pack: end;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}


/* 缩放比例 */

.flex-grow-1 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.flex-grow-2 {
    -webkit-flex-grow: 2;
    flex-grow: 2;
}


/*x轴两端对齐*/

.flex-x-between {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


/* 居中 */

.flex-x-center {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}


/* 垂直居中 */

.flex-y-center {
    align-items: center;
}


/* 右对齐 */

.flex-x-end {
    -webkit-box-pack: end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}


/* 允许换行 */

.flex-wrap {
    -moz-box-lines: multiple;
    -webkit-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


/* 子元素 */

.flex-list {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


/* button */

.btn {
    box-sizing: border-box;
    display: inline-block;
    font-size: 28px;
    /* px */
    padding: 4px 20px;
    color: #FF9C00;
    border: 1px solid #FF9C00; /* no */
    white-space: nowrap;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

.btn--other {
    box-sizing: border-box;
    display: inline-block;
    font-size: 28px;
    /* px */
    padding: 11px 26px;
    color: #FF9C00;
    border: 1px solid #FF9C00; /* no */
    white-space: nowrap;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}


/*input placeholder color*/

input {
    border-radius: 0;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #aaa;
}

input:-ms-input-placeholder {
    color: #aaa;
}

input::-webkit-input-placeholder {
    color: #aaa;
}

textarea:-ms-input-placeholder {
    color: #aaa;
}

textarea::-webkit-input-placeholder {
    color: #aaa;
}


/* iconfont */

@font-face {
    font-family: 'iconfont';
    /* project id 622303 */
    src: url('//at.alicdn.com/t/font_622303_6sewxv8ilc5l8fr.eot');
    src: url('//at.alicdn.com/t/font_622303_6sewxv8ilc5l8fr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_622303_6sewxv8ilc5l8fr.woff') format('woff'), url('//at.alicdn.com/t/font_622303_6sewxv8ilc5l8fr.ttf') format('truetype'), url('//at.alicdn.com/t/font_622303_6sewxv8ilc5l8fr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 60px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
}


/* 移动端隐藏 */

.menu--top,
.tip--footer,
.bg__content {
    display: none;
}

@media screen and (min-device-width: 1024px) and (min-width: 1024px) {
    #app,
    #menubar,
    #bottomBtn {
        width: 1024px;
        height: auto;
        margin: 0 auto;
    }
    html,
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    #app {
        width: 100%;
        height: 100%;
        background-image: url('../images/common/bg.png');
        background-repeat: no-repeat;
        background-position: center 60px;
        /* no */
        background-size: cover;
    }
    .wrap__box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 420px;
        /* no */
        height: 760px;
        /* no */
        padding: 56px 21px;
        /* no */
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 28px;
        /* no */
        border: 1px solid #ffa800;
        /* no */
    }
    /* PC端自定义弹框宽度和高度 */
    .bindPhone,
    .certification {
        max-width: 742px;
        max-height: 644px;
        /* no */
    }
    .dialog__gift {
        border-radius: 28px;
        /* no */
    }
    #menubar, #bottomBtn {
        position: absolute;
        bottom: 56px;
        /* no */
        width: 372px;
        /* no */
    }
    #menubar ul li {
        padding: 10px 0;
    }
    .wrap {
        height: 100%;
        overflow: hidden;
        border: 1px solid #ffa800;
        /* no */
    }
    .scroll, .userAgree {
        box-sizing: border-box;
        width: calc(100% + 34px);
        height: 645px;
        /* no */
        overflow-x: hidden;
        overflow-y: scroll;
    }
    /* 顶部导航 */
    .menu--top {
        display: block;
        width: 100%;
        height: 60px;
        /* no */
    }
    .menu--top a:last-child {
        margin-left: 40px;
        /* no */
        margin-right: 200px;
        /* no */
    }
    .menu--top .icon__logo {
        height: 41px;
        /* no */
        margin-left: 200px;
        /* no */
        margin-top: 10px;
        /* no */
    }
    .menu--top .icon__phone,
    .icon__custom {
        width: 34px;
        /* no */
        height: auto;
    }
    .menu--top span {
        color: #595656;
        font-size: 16px;
        /* no */
    }
    /* wrap box */
    .bg__content {
        display: block;
    }
    /* tip left */
    .tip--left {
        position: absolute;
        left: -170px;
        /* no */
    }
    .tip--left img:nth-child(1) {
        display: block;
        width: 120px;
        /* no */
        height: auto;
    }
    .tip--left img:nth-child(2) {
        width: 50px;
        /* no */
        height: auto;
        margin-left: 100px;
        /* no */
    }
    .leftBtn {
        position: absolute;
        left: -8px;
        top: 80px;
    }
    .leftBtn i {
        width: 8px;
        height: 76px;
        background: #ffb100;
        -o-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
    }
    .leftBtn i:nth-child(1) {
        height: 76px;
    }
    .leftBtn i:nth-child(2) {
        margin: 50px 0 14px 0;
    }
    .topBtn {
        position: absolute;
        left: 50%;
        top: 15px; /* no */
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .topBtn i {
        height: 12px;
        width: 12px;
        border-radius: 12px;
        background-color: #ffa800;
    }
    .topBtn>i {
        margin: auto;
    }
    .topBtn div {
        position: relative;
        margin-top: 15px;
    }
    .topBtn div i:first-child {
        position: absolute;
        left: -32px;
        top: -4px;
        width: 18px;
        height: 18px;
        border-radius: 18px;
    }
    .topBtn div i:last-child {
        width: 154px;
    }
    .bottomBtn {
        position: absolute;
        left: 50%;
        bottom: 26px;
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .bottomBtn i {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #ffa800; /* no */
    }
    /* 二维码 */
    .bg__content .code {
        position: absolute;
        top: 300px;
        /* no */
        right: -200px;
        /* no */
    }
    .bg__content .code .code--border {
        width: 160px;
        /* no */
        height: auto;
    }
    .bg__content .code .qrCode {
        position: absolute;
        top: 5px;
        /* no */
        left: 9px;
        /* no */
        width: 144px;
        /* no */
        height: auto;
    }
    /* 底部信息 */
    .tip--footer {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 10px;
        left: 50%;
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .tip--footer img {
        padding: 0 20px;
        /* no */
    }
    .tip--footer .content {
        display: inline-block;
        font-size: 14px;
        /* no */
        color: #fff;
    }
    .tip--footer ul {
        padding-bottom: 10px;
        /* no */
    }
    .tip--footer ul li {
        display: inline-block;
        font-size: 16px;
        /* no */
    }
    .tip--footer ul li a {
        color: #fff;
    }
}


/* 自定义加载插件 */

.infinite-loading-container .infinite-status-prompt {
    color: #999;
    font-size: 24px;
    /* px */
    text-align: center;
    padding: 20px 0;
}

/* ql-editor */
.ql-editor {
  width: 100%;
  height: auto;
}
.ql-editor img {
  max-width: 100%;
  max-height: 100%;
}


/* 隐藏站长统计图标 */

a[title="站长统计"] {
    display: none;
}