p {
  margin: 0px;
  padding: 0px;
}

.payment {
  width: 80%;
  max-width: 1024px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #fff;
}

.closed_b {
  position: absolute;
  right: 15px;
  top: 15px;
}

.closed_b img {
  width: 40px;
  height: auto;
}

.zfbt {
  text-align: center;
  font-size: 40px; /* px */
  color: #333;
  height: 40px;
  line-height: 40px;
}

.kfxz {
  height: 36px;
  background: #f3f3f3;
  border-top: 1px solid #ebebeb; /* no */
  color: #333;
  text-align: center;
  font-size: 32px; /* px */
  line-height: 36px;
}

.stw {
  height: 56px;
  /* border: 1px solid #fdb325; */
  background: #fff;
  margin: 0 auto;
  clear: both;
  border-right: none;
}

.stw a {
  display: block;
  float: left;
  width: 100%;
  font-size: 32px; /* px */
  color: #f6ad2f;
  text-align: center;
  line-height: 56px;
  text-decoration: none;
  position: relative;
}

.stw a em {
  display: none;
}

.stw a.current {
  background: #f6ad2f;
  color: #fff;
}

.stw a.current em {
  display: block;
  position: absolute;
  right: 7px;
  top: -8px;
}

.paycon {
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  padding: 18px 0 18px 0;
}

.zftit {
  padding: 10px 0;
  text-align: center; 
  font-size: 32px; /* px */
  color: #666;
  width: 100%;
  margin: 0 auto;
}

.zftit span {
  display: inline-block;
  vertical-align: middle;
}

.zftit span img {
  float: left;
  padding-right: 10px;
}

/* 分享 */
.popup_bg .gdwx_wem {
  position: absolute;
  top: 0;
  right: 0;
}

/*支付*/

.popup_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 99999;
}

.login-mode {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
}

.tpayment {
  display: block;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  line-height: 172%;
  font-size: 34px; /* px */
}

.zfbt {
  text-align: center;
  font-size: 32px; /* px */
  color: #333;
  height: 100px;
  line-height: 100px;
}

.kfje {
  height: 80px;
  text-align: center;
  font-size: 30px;  /* px */
  color: #ff0000;
}

.kfxz {
  height: 72px;
  background: #f3f3f3;
  border-top: 1px solid #ebebeb; /* no */
  color: #333;
  text-align: center;
  font-size: 32px;  /* px */
  line-height: 72px;
}

.wxpay {
  height: 56px;
  padding: 14px 20px;
  line-height: 56px;
  position: relative;
  clear: both;
  display: block;
  overflow: hidden;
  border-top: 1px solid #ebebeb; /* no */
}

.wxpay em,
.wxpay span,
.wxpay i {
  display: block;
  float: left;
}

.wxpay em img {
  width: 40px;
  height: auto;
  vertical-align: sub;
}

.wxpay span {
  padding-left: 12px;
  padding-right: 10px;
}

.wxpay i {
  display: block;
  width: 40px;
  height: 40px;
  background: #ff2323;
  border-radius: 3px;
  color: #fff;
  margin-top: 4px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;  /* px */
  font-style: normal;
}

.wxpay b {
  display: block;
  float: right;
}

.tltit {
  text-align: center;
  font-size: 32px;  /* px */
  color: #333;
  width: 100%;
  display: block;
  height: 54px;
  line-height: 74px;
}

.tltit3 {
  background: #ffbc2d;
  font-size: 40px;  /* px */
  height: 112px;
  line-height: 112px;
  color: #333;
  border-radius: 10px 10px 0 0;
}

.sdk_popup_bg {
  width: 80%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  border-radius: 20px;
  z-index: 99999;
}

.sdk_popup_bg span img {
  width: 100%;
  border-radius: 20px;
  max-width: 480px;
}

.sdk_popup_bg .subscribeHeader {
  display: block;
  font-size: 32px;  /* px */
  color: #333;
  text-align: center;
  line-height: 36px;
  padding-top: 20px;
}

.sdk_popup_bg .subscribeHeader img {
  position: absolute;
  right: 15px;
  top: 12px;
  width: 40px;
  height: 40px;
}

/* tips */
#dialog__tip .title--tip {
  padding: 20px 0;
  font-size: 36px; /* px */
  text-align:center;
  line-height: 36px;
}
#dialog__tip .tips {
  padding: 20px 0;
  font-size: 32px; /* px */
  text-align:center;
  border-bottom: 2px solid #eee; /* px */
}
#dialog__tip .btn--close {
  padding: 20px 0;
  font-size: 32px; /* px */
  text-align:center;
}