html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
.icon {
  width: 1.5em; 
  height: 1.5em;
  vertical-align: sub;
  fill: currentColor;
  overflow: hidden;
}
html, body, #app {
  position: relative;
  height: 100%;
  clear: both;
}
.content {
  float: right;
  padding: 20px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* sidebar */
.sidebar {
  float: left;
  text-align: center;
  background-image: url('http://oak1q2h54.bkt.clouddn.com/blog/db.jpg');
  background-repeat: no-repeat;
  font-size: 16px;
  color: #ebebeb;
  animation: sidebarBg 15s ease-in forwards;
}
@keyframes sidebarBg {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 50%;
  }
}
@-moz-keyframes sidebarBg {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 50%;
  }
}
.sidebar a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 18px;
  line-height: 100px;
}
.sidebar a:hover {
  color: #fff;
}
/* header */
.header {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #999;
}
.header a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 18px;
  line-height: 100px;
}

/* footer */
.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.footer a {
  text-decoration: none;
  color: #818181;
  font-size: 18px;
  line-height: 100px;
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 250px);
    display: none;
  }
  .sidebar {
    width: 250px;
    height: 100%;
  }
  .content {
    width: calc(100% - 250px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header{
    display: none;
  }
  .sidebar {
    width: 75px;
    height: 100%;
  }
  .content {
    width: calc(100% - 75px);
  }
  .sidebar .font--title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header[data-behavior='1'] {
    width: 100%;
    display: block;
  }
  .header[data-behavior='2'] {
    width: calc(100% - 200px);
    display: block;
    float: right;
  }
  .sidebar[data-behavior='1'] {
    display: none;
  }
  .sidebar[data-behavior='2'] {
    display: block;
    height: 100%;
  }
  .content[data-behavior='1'] {
    width: 100%;
  }
  .content[data-behavior='2'] {
    width: calc(100% - 200px);
    overflow: hidden;
  }
}

/* 关于 */
.about {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
}
.about .about__bg {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.about .blur {	
  filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
  
  -webkit-filter: blur(6px); /* Chrome, Opera */
     -moz-filter: blur(6px);
      -ms-filter: blur(6px);    
          filter: blur(6px);
  
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=6, MakeShadow=false); /* IE6~IE9 */
}
.about .dialog__box {
  padding-bottom: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}
.about .dialog__box .user--icon img {
  width: 50%;
  border-radius: 50%;
  padding: 20px;
}
.about .dialog__box .user--name, .user--desc, .user--address, .user--email {
  line-height: 36px;
}